@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

* {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
    background-image:
    linear-gradient( 180deg, #e2f6fc 14.25%, rgba(255, 255, 255, 0) 70%),
    linear-gradient( 0deg, #e2f6fc 5.25%, rgba(255, 255, 255, 0) 20%);
    background-repeat: no-repeat;
}

/* hero section */

.herocontainer {
  text-align: center;
}

.herotextcontainer p {
  margin: 0 0 10px 0;
}

.herocontainer img {
  width: 300px;
  height: auto;
}

#downloadbutton {
  width: 140px;
  height: 48px;
}

/* destinations section */

.destinationscontainer {
  margin: 0 0;
}

.destinationscontainer h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.destinationscontainer p {
  margin: 5px 0;
}

.reccomendedtrips {
  display: flex;
  justify-content: center;
}

.mobilehiddentrips {
  display: none;
  gap: 50px;
}

.tripbox {
  width: 300px;
  height: 350px;
  background: rgba(240, 240, 240, 0.45);
  border: 1px solid #ffffff;
  backdrop-filter: blur(2px);
  border-radius: 16px;
}

.tripboximage {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.tripboximage img {
  width: 250px;
  border-radius: 8px;
  filter: drop-shadow(0px 5px 5px rgb(37, 34, 34));
}

.tripboxcontent {
  margin: 25px;
}

.tripboxcontent p {
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

#locationtext {
  font-size: 12px;
}

#tripname {
  font-size: 20px;
  font-weight: 700;
}

#staytimetext {
  font-size: 15px;
}

#pricetext {
  margin-top: 27px;
  font-weight: 700;
  font-size: 15px;
}

#mobiletripmore {
  margin-left: 25px;
}

.destinationscontainer a {
  color: black;
  text-decoration: none;
}

/* choose us section */

.chooseuscontainer {
  margin-top: 30px;
  text-align: center;
}

.chooseustextcontainer {
  width: 100%;
}

.chooseustextcontainer p {
  margin: 15px 0 0 0;
}

#downloadbutton {
  height: 45px;
  width: 136px;
  border-radius: 4px;
  margin: 15px 15px 0 0;
}

.chooseuscontainer img {
    width: 300px;
    height: auto;
}

.chooseusselection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin: 0 0 15px 0;
  transition: all 0.3s;
}

.chooseusselection:hover {
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.02),
    0px 16px 24px rgba(96, 97, 112, 0.12);
  background: #ffffff;
  transition: all 0.3s;
}

.chooseusselection img {
  width: 64px;
  height: 64px;
}

.chooseusselectiontext p {
  margin: 5px 0 0 0;
}

.chooseuscontainer button {
  margin: 5px 10px;
}

.chooseuscontainer .button {
  border-radius: 5px;
  padding: 7px 25px;
  cursor: pointer;
}

.chooseuscontainer #findoutbutton {
  font-size: 17px;
  background-color: transparent;
  border: 1px black solid;
}

.chooseuscontainer #bookbutton {
  font-size: 17px;
  background-color: #fa8443;
  border: none;
  color: white;
}

/* desktop view */

@media (min-width: 1050px) {
  /* hero section */

  .herocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 200px;
  }

  .herotextcontainer {
    width: 650px;
  }

  .herotextcontainer h1 {
    color: #333333;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 70px;
  }

  .herotextcontainer p {
    margin: 15px 50px 0 0;
  }

  #downloadbutton {
    height: 45px;
    width: 136px;
    border-radius: 4px;
    margin: 15px 15px 0 0;
  }

  .herocontainer img {
    height: 600px;
    width: auto;
  }

  /* destinations section */

  .destinationscontainer {
    margin: 0 190px;
  }

  .destinationscontainer h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .destinationscontainer p {
    margin: 5px 0;
  }

  .reccomendedtrips {
    display: flex;
    gap: 50px;
  }

  .mobilehiddentrips {
    display: flex;
    gap: 50px;
  }

  .tripbox {
    width: 300px;
    height: 350px;
    background: rgba(240, 240, 240, 0.45);
    border: 1px solid #ffffff;
    backdrop-filter: blur(2px);
    border-radius: 16px;
  }

  .tripboximage {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .tripboximage img {
    width: 250px;
    border-radius: 8px;
    filter: drop-shadow(0px 5px 5px rgb(37, 34, 34));
  }

  .tripboxcontent {
    margin: 25px;
  }

  .tripboxcontent p {
    font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #locationtext {
    font-size: 12px;
  }

  #tripname {
    font-size: 20px;
    font-weight: 700;
  }

  #staytimetext {
    font-size: 15px;
  }

  #pricetext {
    margin-top: 27px;
    font-weight: 700;
    font-size: 15px;
  }

  #mobiletripmore {
    display: none;
  }

  .destinationscontainer a {
    display: none;
  }

  /* why choose us section */

  .chooseuscontainer {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }

  .chooseustextcontainer {
    width: 650px;
  }

  .chooseustextcontainer h1 {
    color: #333333;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 70px;
  }

  .chooseustextcontainer p {
    margin: 15px 50px 0 0;
  }

  #downloadbutton {
    height: 45px;
    width: 136px;
    border-radius: 4px;
    margin: 15px 15px 0 0;
  }

  .chooseuscontainer img {
    height: 600px;
    width: auto;
  }

  .chooseusselection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 580px;
    height: 100px;
    border-radius: 10px;
    margin-top: 5px;
    transition: all 0.3s;
  }

  .chooseusselection:hover {
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.02),
      0px 16px 24px rgba(96, 97, 112, 0.12);
    background: #ffffff;
    transition: all 0.3s;
  }

  .chooseusselection img {
    width: 64px;
    height: 64px;
  }

  .chooseusselectiontext p {
    margin: 5px 0 0 0;
  }

  .chooseuscontainer button {
    margin: 0 10px;
  }

  .chooseuscontainer .button {
    border-radius: 5px;
    padding: 7px 25px;
    cursor: pointer;
  }

  .chooseuscontainer #findoutbutton {
    font-size: 17px;
    background-color: transparent;
    border: 1px black solid;
  }

  .chooseuscontainer #bookbutton {
    font-size: 17px;
    background-color: #fa8443;
    border: none;
    color: white;
  }
}
